
		.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  background-color: black;
  color: white;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
.nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    margin: 10px;
    display: inline-block;
  }
}
.site-header {
  position: sticky;
  top: 0;
.hero-section {
  height: 90vh; 
  background-image: url("../images/banner.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px 30px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .hero-section {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 24px;
  }
}

	
  z-index: 1000;
}





