.nav {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.bg
{
  background-color: black;
  height: 170px;
  width: 100%;
}
